<a href="/" class="brand-link">
    <img src="~/images/logo/logo.png" width="50" height="50" />
    <div class="logo-container">
        <div class="logo-title">
            <strong><span class="highlight">TESOL</span> Channel</strong>
        </div>
        <div class="logo-subtitle">
            Nhà phân phối chính thức của LTi Australia
        </div>
    </div>
</a>

<style>
    .brand-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .logo-container {
        font-family: Arial, sans-serif;
        line-height: 1.2;
        padding: 10px;
        border-radius: 4px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo-title {
        font-size: 18px;
        color: #002f6c;
    }

    .logo-title .highlight {
        color: #0b318f;
    }

    .logo-subtitle {
        font-size: 13px;
        color: #333;
        margin-top: 2px;
    }
</style>
