@page
@using Microsoft.Extensions.Localization
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Agencies
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@model EditModalModel
@inject IStringLocalizer<OnlineCoursesResource> L
@{
    Layout = null;
}

<form asp-page="/Agencies/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Edit"].Value"></abp-modal-header>
        <abp-modal-body>
            <input asp-for="Agency.Id" />
            <abp-input asp-for="Agency.Code" />
            <abp-input asp-for="Agency.Name" />
            <abp-input asp-for="Agency.Description" />
            <abp-input asp-for="Agency.ContactEmail" />
            <abp-input asp-for="Agency.ContactPhone" />
            <abp-input asp-for="Agency.Address" />
            <abp-input asp-for="Agency.CommissionPercent" />
            <abp-select asp-for="Agency.Status" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form> 