@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Blogs
@model CreateModalModel
@inject IStringLocalizer<OnlineCoursesResource> L
@{
    Layout = null;
}

<form asp-page="/Blogs/CreateModal">
    <abp-modal size="Large">
        <abp-modal-header title="@L["NewBlog"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Blog.Code" />
            <abp-input asp-for="Blog.Title" />
            <div class="form-group">
                <label asp-for="Blog.Content">@L["Content"]</label>
                <textarea id="Blog_Content" name="Blog.Content" class="form-control"></textarea>
            </div>
            <abp-input asp-for="Blog.Summary" />
            <abp-input asp-for="Blog.IsPublished" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script src="https://cdn.tiny.cloud/1/r7wvp6swxi0c9v5j13ek6leb1ufare0sojpf7x1kv06qo55b/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    // Đảm bảo script này nằm cuối file, trong nội dung modal
    console.log("CreateModal script loaded")
    $(function () {
        // Đợi một chút để modal render xong
        setTimeout(function () {
            console.log("CreateModal script 111111111111")
            tinymce.remove('#Blog_Content');
            tinymce.init({
                selector: '#Blog_Content',
                height: 500,
                plugins: [
                    'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'print', 'preview', 'anchor',
                    'searchreplace', 'visualblocks', 'code', 'fullscreen',
                    'insertdatetime', 'media', 'table', 'paste', 'help', 'wordcount'
                ],
                toolbar: 'undo redo | formatselect | bold italic backcolor | ' +
                    'alignleft aligncenter alignright alignjustify | ' +
                    'bullist numlist outdent indent | removeformat | help | code | image | table',
                menubar: 'file edit view insert format tools table help',
                branding: false,
                resize: true,
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; }'
            });
        }, 1000); // 300ms, có thể tăng lên nếu modal render chậm
    });

    $('form').on('submit', function () {
         console.log("FORM script 111111111111")
        tinymce.triggerSave();
    });

    $(document).on('abp-ajax-beforeSend', function () {
         console.log("ABp script 111111111111")
        tinymce.triggerSave();
    });
</script>