@page "/Employment-Support"
@model Acme.OnlineCourses.Pages.EmploymentSupport.EmploymentSupportModel
@{
    // ViewData["Title"] = "Employment Support";
}

@section styles {
    <abp-style src="/Pages/EmploymentSupport/EmploymentSupport.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/EmploymentSupport/EmploymentSupport.cshtml.js" />
}

<div class="employment-support-page">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 animate fade-in">
                <div class="subtitle">Công việc sau khi học?</div>

                <h1 class="main-heading">Hỗ trợ tìm việc sau khóa học</h1>

                <p class="mb-4">Tesol Chanel cam kết sẽ hỗ trợ bạn ngay cả sau khi hoàn thành khóa học.</p>

                <p>Tesol Channel sẽ kết nối bạn với các cơ hội việc làm tại các công ty, trung tâm Anh ngữ và trường học trong nước và quốc tế. Chúng tôi có mạng lưới đối tác rộng khắp, sẵn sàng giới thiệu bạn đến các vị trí phù hợp.</p>
            </div>
            <div class="col-lg-6 animate fade-in">
                <img src="~/images/es.PNG" alt="Employment Support" class="img-fluid">
            </div>
        </div>
    </div>
</div>