@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.OnlineCourses.Localization
@inject IHtmlLocalizer<OnlineCoursesResource> L
@model Acme.OnlineCourses.Pages.IndexModel

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}

<div class="hero-section">
    <div class="hero-content">
        <h1>Trở thành Giáo viên<br>Tiếng Anh Chuyên Nghiệp</h1>
        <p class="subtitle">
            Nhận chứng chỉ TESOL quốc tế từ LTi Australia<br>
            chỉ sau <b>200 giờ học và thực hành</b>
        </p>
        <button class="hero-btn">Đăng ký ngay</button>
    </div>
    <div class="hero-media">
        <div class="video-stats-wrapper">
            <div class="video-container" id="open-video-modal" style="cursor:pointer;">
                <img src="~/images/tesol-video-thumbnail.png" alt="TESOL Video" class="video-thumb" />
                <span class="play-btn">&#9658;</span>
            </div>
            <div class="hero-stats">
                <div><b>+16.000</b><br><span>Học viên đã tốt nghiệp</span></div>
                <div><b>+28 năm</b><br><span>Kinh nghiệm</span></div>
                <div><b>+93%</b><br><span>Học viên hài lòng</span></div>
            </div>
        </div>
    </div>
</div>

<!-- Video Modal -->
<div id="video-modal" class="video-modal">
    <div class="video-modal-content">
        <span class="video-modal-close" id="close-video-modal">&times;</span>
        <iframe
            id="video-iframe"
            width="800"
            height="450"
            src=""
            title="TESOL Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>