@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.OnlineCourses.Localization
@inject IHtmlLocalizer<OnlineCoursesResource> L
@model Acme.OnlineCourses.Pages.IndexModel

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
    <link rel="stylesheet" href="~/css/custom-header.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
}

<div class="home-page">
    <header class="header">
        <h1>Why study TESOL with us?</h1>
        <p>Choosing the right TESOL Course is important - so is choosing the right training provider.</p>
    </header>

    <div class="container">

        <section class="grid-container">
            <div class="grid-item">  
                <img src="~/images/home/quality-white_22.png" alt="TESOL experience" class="image-box">  
                <h3>28 years in TESOL:</h3>  
                <p>Get certified by an Australian institution that has been a trusted global TESOL training organization since 1996.</p>  
            </div>
            <div class="grid-item">
                <img src="~/images/home/support-white_16.png" alt="Expert support" class="image-box">
                <h3>Expert support:</h3>
                <p>We connect you with a highly qualified and experienced Trainer to support you from start to finish, at no extra cost.</p>
            </div>
            <div class="grid-item">
                <img src="~/images/home/stackable_15.png" alt="Future proof" class="image-box">
                <h3>Future proof your TESOL qualification:</h3>
                <p>Our accredited TESOL qualifications are stackable, with credit given when upskilling between our courses.</p>
            </div>

            <div class="grid-item">
                <img src="~/images/home/prac-white_16.png" alt="Classroom training">
                <h3>Classroom training:</h3>
                <p>Face-to-face training opportunities are available, making learning more engaging and practical.</p>
            </div>
            <div class="grid-item">
                <img src="~/images/home/nfp-white_14.png" alt="Online learning">
                <h3>Online learning:</h3>
                <p>Flexible online courses allow you to learn at your own pace, anytime, anywhere.</p>
            </div>
            <div class="grid-item">
                <img src="~/images/home/resources-online-white_27.png" alt="Student care">
                <h3>Student care:</h3>
                <p>We care about your learning experience and success, supporting you with resources and guidance.</p>
            </div>
        </section>
    </div>
</div>